/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
#menu-header .logo {
   font-size: 16px;
   font-weight: bold;
   color: #06e564;
}


.section-categories a, a {
   color: #19ba5d;
}

.article {
   margin: 4rem 0;
}

.article h3 {
   color: #19ba5d;
}

.article .article-price {
   font-size: 22px;
   font-weight: bold;
   color: #f44336;
}