{% extends "index.html" %}

{% block content %}
<article class="category-page row">

    <h1>Caregory Page</h1>

    {% if articles %}
        {% for article in articles %}
        <div class="grid-x">
            <div class="cell small-12 article">
                <h3>{{ article.title}}</h3>
                <p class="article-description">
                    {{ article.description }}
                </p>
                <p class="article-price">
                    {{ article.price }}
                </p>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h2>No Available data</h2>
        </div>
    {% endif %}


</article>
{% endblock %} 