{% extends "index.html" %}

 {% block content %}
    <div class="four columns">
        <h3>Adipiscing Elit</h3>
        <p><em>Vivamus tortor tellus, rutrum sit amet mollis vel, imperdiet consectetur orci.</em></p>
    </div>
    
    <div class="four columns">
        <h3>Adipiscing Elit</h3>
        <p><em>Vivamus tortor tellus, rutrum sit amet mollis vel, imperdiet consectetur orci.</em></p>
    </div>
    
    <div class="four columns">
        <h3>Adipiscing Elit</h3>
        <p><em>Vivamus tortor tellus, rutrum sit amet mollis vel, imperdiet consectetur orci.</em></p>
    </div>
  
 {% endblock %}